* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


.Cabecalho {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    background-color: lightgreen;
    padding: 30px;
    border-bottom: black solid 4px;
}

.Cabecalho img {
    width: 36px;
}

.Cabecalho a {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color:black ;
}

.Cabecalho a:hover {
    transition-delay: 0.1;
    border-bottom: black solid 2px;
    background-color: rgb(100, 158, 100);
    border-radius: 2px;
    padding: 2px;
}