* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslategrey;
}

.Cabecalho {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    background-color: lightgreen;
    padding: 30px;
    border-bottom: black solid 4px;
}

.Cabecalho img {
    width: 36px;
}

.Cabecalho a {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color:black ;
}

.Cabecalho a:hover {
    transition-delay: 0.1;
    border-bottom: black solid 2px;
    background-color: rgb(100, 158, 100);
    border-radius: 2px;
    padding: 2px;
}

.contatos {
    display: block;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
}

.contatos-text {
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    gap: 20px;
    color: antiquewhite;
    font-weight: bold;
    margin: 5px;
    padding: 20px;
}

.contatos-text p {
    gap: 30px;
    background-color: rgb(21, 31, 31);
    border-radius: 4px;
    margin: 5px;
    padding: 10px;
}